@import "../../main.scss";

.wrapper {
	&.userprofile {
		margin-top: 30px;

		.noti-container {
			width: 100%;
			display: flex;
			justify-content: center;

			span {
				color: $gray;
			}
		}
	}
}
